<footer style="text-align: center; margin-top: 1.5rem; margin-bottom: auto; font-size: 16px;">
    <nav>
    <div style="display: flex; justify-content: space-between; margin: auto; margin-top: 2rem; width: 40%;">
        <span style="border-right: 1px solid black;">
            <a href="https://github.com/destinee-b" title="Github">
                <img src="images/github.png" class="social-img" alt="github logo">
                <span style="margin-top: auto; margin-bottom: auto; margin-left: 0.25rem;"></span>
            </a>
        </span>
        <span style="border-right: 1px solid black;">
            <a href="https://destinee-b.github.io/" title="Github Pages">
                <img src="images/github2.png" class="social-img" alt="github logo">
                <span style="margin-top: auto; margin-bottom: auto; margin-left: 0.25rem;"></span>
            </a>
        </span>
        <span style="border-right: 1px solid black;">
            <a href="https://webpages.charlotte.edu/dbrewe19/" title="Webpages">
                <img src="images/university.png" class="social-img" alt="logo of HTML language">
                <span style="margin-top: auto; margin-bottom: auto; margin-left: 0.25rem;"></span>
            </a>
        </span>
        <span style="border-right: 1px solid black;">
            <a href="https://www.linkedin.com/in/destinee-brewer-3bb5982b6/" title="LinkedIn">
                <img src="images/linkedin.png" class="social-img" alt="linkedin logo">
                <span style="margin-top: auto; margin-bottom: auto; margin-left: 0.25rem;"></span>
            </a>
        </span>
        <span style="border-right: 1px solid black;">
            <a href="https://www.freecodecamp.org/tbhdestinee" title="FreeCodeCamp">
                <img src="images/award-svgrepo-com.png" class="social-img" alt="freecodecamp logo">
                <span style="margin-top: auto; margin-bottom: auto; margin-left: 0.25rem;"></span>
            </a>
        </span>
        <span style="border-right: 1px solid black;">
            <a href="https://www.codecademy.com/profiles/tbhdes" title="Code Academy">
                <img src="images/award2.png" class="social-img" alt="Code Academy">
                <span style="margin-top: auto; margin-bottom: auto; margin-left: 0.25rem;"></span>
            </a>
        </span>
    </div>
</nav>  
<br>
© 2024 <a href ="/itis3135/design_firm/index.html">Destinee Digital.</a> All rights reserved.
    <br>
    <em>Certified in <a href="https://www.freecodecamp.org/certification/tbhdestinee/responsive-web-design">Responsive Web Design</a></em>
    &
    <em> <a href="https://www.freecodecamp.org/certification/tbhdestinee/javascript-algorithms-and-data-structures-v8"> JS </a></em>
</footer>