<header>
    <h1 class="page-name" style="font-size: 32px; margin: auto; text-align: center;">Destinee Brewer ⊱ ITIS 3135</h1>
    <hr style="width: 50%;">
    <nav>
      <a href="../index.html">Home</a>
      ‧₊˚ ┊
      <a href="index.html">ITIS3135 Home</a>
      ‧₊˚ ┊
      <a href="contract.html">Contract</a>   
      ‧₊˚ ┊
      <a href="about.html">About</a> 
      ‧₊˚ ┊
      <a href="introduction.html">Introduction</a> 
      ‧₊˚ ┊
      <a href="design_firm/index.html">Design Firm</a> 
      ‧₊˚ ┊
      <a href="client_project/index.html">Client Project</a> 
      ‧₊˚ ┊
      <a href="stuff/CRAPPY ♡.htm">Crappy Page</a> 
      ‧₊˚ ┊
      <a href="website_evaluations.html">Website Evaluations</a>
  </nav> 
  </header>